@import 'tailwindcss';
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  @apply bg-gray-900 text-gray-100;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  @apply w-full p-1 mb-2 border border-gray-600 rounded-sm ps-2;
}

button {
  @apply w-full p-1 mt-2  text-white rounded-sm;
}

.primary {
  @apply bg-blue-600;
}

.secondary {
  @apply bg-green-600;
}

.primary:hover {
  @apply bg-blue-700;
}

.secondary:hover {
  @apply bg-green-700;
}
